.separator{
    margin-right: 20px;
}

.div-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-theme-log{
    color: green;
    background-color: black;
}